{% extends 'search/layouts.html' %}

{% block title %}
Author: {{ author.name }}
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'search/css/author.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Author Information:</h1>
        <h3>{{ author.name }}</h3>
        <h1>Books Written</h1>
            <ul>
                {% for book in books %}
                    <a href="{% url 'search:book' book.id %}">{{ book.title }}</a>
                    <br>
                {% endfor %}
            </ul>
        <a class="btn btn-info" href="{% url 'search:index' %}">New Search</a>
    </div>
{% endblock %}