{% extends 'search/layouts.html' %}

{% block title %}
Results
{% endblock %}

{% block body %}
    <h1>Book Information:</h1>

    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author:
            <a href="{% url 'search:author' author.id %}">{{ author.name }}</a>
        </li>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Year: {{ book.year }}</li>
    </ul>
    <a href="{% url 'review:new' book.id %}">Leave a Review</a>
    <a href="{% url 'search:index' %}">New Search</a>
{% endblock %}